<div class="container">
  <h4>Login To Account</h4>

  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Log In", class: "waves-effect waves-light btn light-green darken-4" %>
  <% end %>
  <div>
    <p>
      Don't have a login yet? Click below to create an account:
    </p>
  </div>
  <%= link_to("Create Account", new_user_path, class: "waves-effect waves-light btn light-green darken-4") %>
</div>
