<div class= "container">
  <h4>Order Number: <%= @order.id %></h4>
  <div class="status">
    <h5 class="center">Status</h5>
    <table class="responsive-table">
      <tbody>
        <tr>
          <td>Order Status:</td>
          <td><%= @order.status.capitalize %></td>
          <td>Order Complete:</td>
          <td><%= @order.completed? %></td>
        </tr>
        <tr>
          <td>Order Placed:</td>
          <td><%= @order.formatted_created_date %></td>
          <td>Order Last Updated:</td>
          <td><%= @order.formatted_updated_date %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <div class="purchaser">
    <h5 class="center">Shipping</h5>
    <table class="responsive-table">
      <tbody>
        <tr>
          <td>First Name:</td>
          <td><%= @order.first_name %></td>
          <td>Address:</td>
          <td><%= @order.address %></td>
        </tr>
        <tr>
          <td>Last Name:</td>
          <td><%= @order.last_name %></td>
          <td></td>
          <td><%= @order.city %>, <%= @order.state %> <%= @order.zipcode %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <h5 class="center">Details</h5>
  <table class="centered bordered highlight responsive-table">
    <thead>
      <tr>
          <th data-field="name">Stache</th>
          <th data-field="quantity">Quantity</th>
          <th data-field="subtotal">Total Price</th>
      </tr>
    </thead>

    <tbody>
      <% @order.staches.each do |stache| %>
        <tr id=<%="stache-#{stache.id}"%>>
          <td><%= link_to stache.name, stache_path(stache) %></td>
          <td><%= @order.quantity(stache) %></td>
          <td><%= number_to_currency(@order.subtotal(stache)) %></td>
        </tr>
      <% end %>
      <tr>
        <td>Total:</td>
        <td></td>
        <td><%= number_to_currency(@order.total) %></td>
      </tr>
    </tbody>
  </table>
</div>
