<%= headshot_default_config(Rails.application.config.session_options[:key], headshot_capture_path) %>

<div class="camera center-align row responsive-video">
  <%= headshot_camera(width = 800, height = 600) %>
</div>

<div class="capture row">
  <%= headshot_snap_button('Shoot') %>
</div>

<button id="myButton" type="submit" name="button" onclick="headshotHandlers.snap(); redirectTo('show_stache');">Take!</button>

<script type="text/javascript">
<!--

function redirectTo(sUrl) {
  setTimeout (function () {
    window.location = sUrl
  }, 500);

}
//-->
</script>

<div class="stache center-align row">
  <%= image_tag "/headshots/mustache1.png", class: "image" %>
</div>

<br/><br/>

<%= link_to "See Stachio'd Self!", "/show_stache" %>
