<div class= "container">
  <h1>Order Number: <%= @order.id %></h1>

  <table class="centered bordered responsive-table">
    <thead>
      <tr>
          <th data-field="name">Stache</th>
          <th data-field="quantity">Quantity</th>
          <th data-field="subtotal">Subtotal</th>
      </tr>
    </thead>

    <tbody>
      <% @order.staches.each do |stache| %>
        <tr>
          <td><%= link_to stache.name, stache_path(stache) %></td>
          <td><%= stache.quantity %></td>
          <td><%= number_to_currency(stache.subtotal) %></td>
        </tr>
      <% end %>
      <tr>
        <td>Total:</td>
        <td></td>
        <td><%= number_to_currency(@order.total) %></td>
      </tr>
    </tbody>
  </table>

  <h5>Status:</h5>
  <table class="responsive-table">
    <tbody>
      <tr>
        <td>Order Status:</td>
        <td><%= @order.status.capitalize %></td>
      </tr>
      <tr>
        <td>Order Placed:</td>
        <td><%= @order.formatted_created_date %></td>
      </tr>
      <tr>
        <td>Order Complete:</td>
        <td><%= @order.completed? %></td>
      </tr>
      <tr>
        <td>Order Last Updated:</td>
        <td><%= @order.formatted_updated_date %></td>
      </tr>
    </tbody>
  </table>
</div>
