<div class="container">
<h4>You are the Stache Master</h4>
<%= link_to "Add New Stache", new_admin_stache_path, class: "btn light-green darken-4" %>
<table>
  <thead>
    <tr>
      <th data-field="image">Image</th>
      <th data-field="name">Name</th>
      <th data-field="description">Description</th>
      <th data-field="price">Price</th>
      <th data-field="status">Status</th>
      <th data-field="actions">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @staches.each do |stache| %>
    <div id="stache-<%= stache.id %>">
      <tr>
        <td><%= image_tag(stache.image_url, width: "50%")  %></td>
        <td><%= link_to stache.name, stache, class: "btn light-green darken-4" %></td>
        <td><%= stache.description %></td>
        <td>$<%= stache.price %></td>
        <td><%= stache.status %></td>
        <td>
          <%= link_to "Edit", edit_admin_stache_path(stache) %>
          <%= link_to "Retire", admin_retire_stache_path(stache_id: stache.id), method: :put,
                      id: "stache-#{stache.id}-retire" unless stache.retired? %>
          <%= link_to "Activate", admin_activate_stache_path(stache_id: stache.id), method: :put,
                      id: "stache-#{stache.id}-activate" if stache.retired? %>
        </td>
      </tr>
    </div>
    <% end %>
  </tbody>
</table>
</div>
