<h1>You are the Stache Master</h1>
<%= link_to "Add New Stache", new_admin_stache_path %>
<table>
  <thead>
    <tr>
      <th data-field="image">Image</th>
      <th data-field="name">Name</th>
      <th data-field="description">Description</th>
      <th data-field="price">Price</th>
      <th data-field="status">Status</th>
      <th data-field="actions">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @staches.each do |stache| %>
    <div id="stache-<%= stache.id %>">
      <tr>
        <td><%= image_tag(stache.image_url, size: "16x10")  %></td>
        <td><%= link_to stache.name, stache %></td>
        <td><%= stache.description %></td>
        <td>$<%= stache.price %></td>
        <td><%= stache.status %></td>
        <td>
          <%= link_to "Edit", edit_admin_stache_path(stache) %>
          <%= link_to "Delete", admin_stache_path(stache), method: :delete %>
        </td>
      </tr>
    </div>
    <% end %>
  </tbody>
</table>