<%= form_for([:admin, @stache]) do |f| %>

  <%= render "shared/error_messages", object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.label :image_url, "Image Url" %>
  <%= f.text_field :image_url %>
  <%= f.label :categories %>
  <br>
  <%= f.collection_check_boxes :categories, Category.all, :id, :title, include_hidden: false do |b| %>
   <div class="categories-checkboxes">
     <%= b.check_box %>
     <%= b.label %>
   </div>
    <% end %>

  <%= f.submit "Create New Stache" %>
<% end %>
