<li class="collection-item avatar light-green lighten-5 brown-text">
  <img src= <%= stache.image_url %> alt="" class="circle">
  <span class="title"><%= stache.name %></span>
  <p><%= stache.description %>
  </p>
  <p class="secondary-content right-align">item price: $<%= stache.rounded_price %><br>
    <%= form_for(:stache_in_cart, url: 'update_quantity') do |f| %>
    <div class="stache_in_cart">
      <%= f.label :quantity %>:
      <%= f.number_field :quantity, value: @cart.contents[stache.id.to_s] %>
    </div>
      <%= f.hidden_field :stache_id, value: stache.id %>
      <%= f.submit "Update quantity" %>
    <% end %>
  <%= link_to "Remove From Cart", cart_stache_path(stache.id), method: :delete %>
</p>

</li>
