<h4 class="center"><i class="material-icons brown-text">shopping_cart</i>
  Stache Stash<i class="material-icons brown-text">shopping_cart</i>
</h4>

<div class="container">
  <ul class="collection cart">
    <%= render partial: "stache", collection: @staches if @staches %>
    <li class="collection-item brown right-align white-text">
      Total Staches: <%= @cart.total_quantity %>
    </li>
    <li class="collection-item brown right-align white-text">
      Total Price: <%= number_to_currency(@cart.total_cost) %>
    </li>
  </ul>

  <div class="checkout">
    <% if @cart.contents.empty? %>
      <%= link_to "Checkout", "#", class: "btn disabled checkout-btn" %>
    <% else %>
      <%= link_to "Checkout", new_order_path,
          class: "btn red darken-4 checkout-btn" %>
    <% end %>
  </div>
</div>
