<div class="col s12 m6 stache-<%= stache.id %>">
  <div class="card">
    <div class="card-content">
      <div class="card-image">
        <img src= <%= stache.image_url %> >
        <span class="card-title black-text"><%= link_to stache.name, stache_path(stache) %></span>
      </div>
        <p><%= stache.description %></p>
        <p>Price: <%= number_to_currency(stache.price) %></p>
      </div>

      <div class="card-action">
        <%= link_to "Add to Cart", cart_staches_path(stache_id: stache.id), method: :post unless stache.retired? %>
      </div>
    </div>
  </div>
