<div class="col s12 m6 stache-<%= stache.id %>">
  <div class="preview">
    <div class="card-content">
      <div class="card-image">
        <span class="card-title black-text center"><%= link_to stache.name,
          stache_path(stache) %> - Price: <%=number_to_currency(stache.price)%> -
          <%= link_to "Add to Cart", cart_staches_path(stache_id: stache.id), method: :post unless stache.retired? %>
        </span>
        <a href="<%= stache_path(stache) %>">
          <img src= <%= stache.image_url %> >
        </a>
      </div>
      <p><%= stache.description %></p>
      <br>
    </div>
  </div>
</div>
