<!DOCTYPE html>
<html>
<head>
  <title>LittleShopPrivateStache</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <% if current_user %>
        <%= link_to("Logout", logout_path, method: :delete, class: "right brown-text login-logout") %>
      <% else %>
        <%= link_to "Login", login_path, id: "Login", class:"right brown-text login-logout"%>
      <% end %>

      <div class="cart_box">
        <a id="View Cart" href="/cart"><i class="material-icons shoppingcart wheat-text">shopping_cart</i></a>
        <a class="cart_total" href="/cart">(<%= @cart.total_quantity %>)</a>
      </div>

      <div class="logo-box">
        <a href="/"><img class="responsive-img" src=" <%=random_stache%> " id="logo" /></a>
      </div>
    </div>
  </nav>
</div>
<% if current_user %>
  <p id="credentials" class="right brown-text hide-on-small-only">Logged In As: <%= current_user.username %> </p>
<% end %>

<% flash.each do |type, msg| %>
  <%= content_tag :div, sanitize(msg), class: "flash_#{type}" %>
<% end %>
<br>
<%= yield %>

<footer class="page-footer saddlebrown">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>
